<div class="card">
    <ion-item class="item-divider">{{title}}</ion-item>
    <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="hobby.name">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Commitment Level" ng-model="hobby.commitmentLevel">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Douche Score" ng-model="hobby.doucheScore">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Weekly Time (hrs)" ng-model="hobby.weeklyTime">
    </label>
</div>